/* Style CSS */
*, *:before, *:after {
	/*show this as a fix for two column layout*/
  box-sizing: border-box;
}
img {
    padding: 0px;

}
body {
    background-image: url(../Images/Image_001.gif);
    text-align: center;
    font-family: 'Questrial', sans-serif;
    margin-left:auto;
    margin-right:auto;
}
h1 {
   font-family: 'Questrial', sans-serif;
    font-size: 36pt;
    text-align: center;
    padding: 0px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0px;
}
h2 {
   font-family: 'Baloo Bhaina', cursive;
    font-size: 56pt;
    text-align: center;
    padding: 0px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
}
p {
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
}
#about {
    background-color: rgba(255, 255, 255, 0.6);
    border-style: dotted;
    border-color: palevioletred;
    padding: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: 30px;
    margin-top:0px;
    float: right;
    padding-bottom: 10px;
    padding-top: 10px;
    width= 63%;
    border-radius: 5%
}
#butter {
   margin-left: auto;
    margin-right: auto; 
    margin-bottom:0px;
    margin-top:0px;
    align-content: center
}
a {
    float: right;
    padding-right: 0px;
}
#mission {
   background-color: rgba(255, 255, 255, 0.6);
    border-style: dotted;
    border-color: palevioletred;
    padding: 10px;
    width: 800px;
    background-blend-mode: hard-light;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
    text-align: center;
    float: right;
    margin-right: 30px;
    padding-top: 10px;
}
.left {
    float: left;
    padding: 0px;
}
iframe {
    float:left;
    margin-left: 30px;
    padding-top: 10px
}
audio {
    float: left;
    margin-left: 30px;
    padding: 10px;
    margin-top: 15px;
}
img {
    float: left;
    margin-left: 30px;
    padding-bottom: 0px;
    padding: 30px;
    padding-left: 0px;
    padding-top: 0px;
}

#disc {
    background-color: rgba(255, 255, 255, 0.6);
    border-style: dotted;
    border-color: palevioletred;
    padding: 10px;
    margin-right: 30px;
    margin-top:0px;
    padding-bottom: 0px;
    width: 800px;
    height: 500px;
    float: right;
    width= 63%
}
#leftvball {
    float: left;
    margin-left: 0px;
    padding-top: 10px
}
.imgWrap {
    width:auto;
    width: inherit;
    padding: 10px;
    float: left; 
}
.imgDescription {
  color: white;
text-shadow: 2px 2px #000000;
  visibility: hidden;
  opacity: 0;
  font-family: 'Baloo Bhaina', cursive;
    font-size: 24px;
margin-top: 0px;
    margin-left: 25px;
}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
.imgWrap img {
    border-radius: 10%;
    padding: 0px;
    padding-left: 0px;
}
.curl {
    border-radius: 10%;
    padding: 10px;
}
#resume {
    float:right;
    padding: 10px;
    margin-right: 30px
}
.curl2 {
    float:left;
    border-radius: 10%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding: 10px
}
#maryland {
    font-size: 20pt
}